<!DOCTYPE html>
<style>
    body,html{
        height: 100%;
        width: 100%;
        /* display: flex; */
        
        overflow: hidden;
        background-repeat: no-repeat;
        background: #7F7FD5;
    }
    .center{
        position: relative;
        /* display: flex; */
        /* margin-right: 10%; */
        justify-content: center;
        align-content: center;
        align-items: center;
    
    }
</style>
<html>
    <title>Signal Server</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
<div class="center">
<h1 >Bantr Signaling Server</h1>
</div>
<br>
<label class="center"><b>Really, nothing to see here....</b></label>

</body>
</html>
